@import url('https://fonts.googleapis.com/css?family=Oswald|Staatliches');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* { 
    margin: 0 auto 0 auto; /* GLOBAL RESET */ 
    padding: 0; 
    box-sizing: border-box;
} 
.image {
    background-image: url('assets/background.png');
    background-color: #77E4FC;
    background-repeat: no-repeat;
    position: fixed;
    height: 100%;
    flex: 100%;
    width: 100%;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
._heading {
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom:10px;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 48px;
    color: #ffffff;
}
._p {
    display: inline-block;
    text-align: left;
    font-family: 'Roboto',sans-serif;
    color: #ffffff;
    font-weight: 600;
    margin-top: 10px;
    width: 100%;
    margin-right: 10px;
    background-color: rgba(92, 92, 92, 0.7);
    font-size: 18px;
    padding: 12px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}
._ptext {
    font-family: 'Roboto',sans-serif;
    color: #ffffff;
    font-weight: 600;
    text-align: left;
    font-size: 18px;
}
._footer {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 16px;
    height: 5%;
    color: #000000;
    position: relative;
    font-weight: 1000;
    flex: 5%;
    vertical-align: middle;
    background-color: #F5F379;
}
.container {
    padding-left: 10px;
    width: 100%;
    height: 100%;
    position: relative;
}
.otable {
    width: 100%;
    text-align: center;
}
#map_1 { 
    height: 300px; 
    width: 600px;
    position: relative;
    border-style: solid;
    border-width: 5px;
    border-color: #000000;
}
._ans {
    width: 100%;
    display: inline-block;
    border-style: none;
    background-color: #000000;
}
.oans {
    text-align: center;
}
#longitude {
    top: 0;
}
.inp {
    width: 90%;
    border-style: none;
    border-radius: 50px;
    background-color: #2e2d53;
    margin: 10px;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 15px 10px 15px;
}
._button {
    background-color: #060606;
    border: none;
    color: #F5F379;
    padding: 15px 15px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    transition-duration: 0.4s;
}
._button:hover{
    background-color: #3F3F6F;
    color:#ffffff;
}
._jump {
    width: 100%;
}
._inner_table {
    padding: 10px;
}
.submit {
    width: 100%;
    margin: 10px;
    margin-top: 20px;
    border-radius: 50px;
}
.opa {
    opacity: 0.4;
}
.flbo {
    position: fixed;
    height: 100%;
    flex-wrap: wrap;
}

 /* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #ac4444;
    color: rgb(255, 255, 255); /* White text color */
    text-align: center; 
    border-radius: 2px;
    padding: 16px;
    font-family: 'Roboto',sans-serif;
    font-weight: 900;
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
  /* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
} 